.custom-button {
    min-width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 0 35px;
    border: none;
    cursor: pointer;
    transition-duration: 200ms;
    &:hover {
        color: black;
        background-color: white;
        border: 1px solid black
    }

    &.google-sign-in {
        background-color: #1565c0;
        &:hover {
            background-color: #0d47a1;
            color: white;
        }
    }
}