.sign-in {
    background-color: #eeeeee;
    padding: 50px 25px;
    width: 500px;
    display: flex;
    flex-direction: column;

    &-title {
        margin: 25px 0;
    }
    &-buttons {
        display: flex;
        justify-content: space-between;
    }
}