.checkout-page {
    max-width: 55%;
    margin: 0 auto;
    .checkout-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 40px;
        border-bottom: 1px solid darkgray;

        .header-block {
            width: 23%;
            text-transform: capitalize;
            &:last-child {
                width: 8%;
            }
        }
    }
    .checkout-total {
        display: flex;
        align-items: center;
        height: 60px;
        justify-content: flex-end;
        border-top: 1px solid darkgray;
        font-size: 2rem;
    }
}