.menu-item {
    min-width: 32%;
    height: 250px;
    border: 1px solid black;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    margin: 10px 10px ;
    background-size: cover;
    background-position: center;

    &.large {
        height: 400px;
    }
}