.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    &-image {
        max-width: 75px;
    }

    &-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &-name {
        font-weight: 700;
    }
    &-price {

    }
}